h1, p {
  margin: 0px;
}

hr {
  
  margin-top: 30px;
  margin-bottom: 30px;
}


 #medium {
   font-size: 20px;
   display: block;
 }

#flex-resume {
  display: flex;
  padding: 20px;
  text-align: left;
  justify-content: center;
  
}

#flex {
  /* align-items: top; */
  display: flex;
  /* justify-content: center;  */
  border: 4px solid rgb(223, 42, 42);
}

@media only screen and (max-width: 600px) {
  #flex {
    display: block;
    border: 1px solid black;
    align-items: center;
  }
}

#flex-tech-stack {
  /* align-items: top; */
  display: flex;
  /* justify-content: center;  */
  border: 4px solid rgb(223, 42, 42);
}

#flex-item {
  padding-right: 30px;
  padding-bottom: 30px;
  border: 4px solid rgb(22, 238, 105);
}



#picture-container{
  width: 50%;
  border: 4px solid rgb(223, 42, 42);
}

@media only screen and (max-width: 600px) {
  #picture-container{
    width: 100%;
    border: 4px solid rgb(223, 42, 42);
  }
}

#text-container{
  width: 50%;
  padding-left: 40px;
  padding-right: 100px;
  border: 4px solid rgb(223, 42, 42);
  }

  @media only screen and (max-width: 600px) {
    #text-container{
      width: 100%;
      padding-left: 0px;
      padding-right: 0px;
      border: 4px solid rgb(223, 42, 42);
      }
  }

  
#picture {
  width: 500px; 
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  /* #picture {
    width: 900px; 
    max-width: 100%;
    height: auto;
  } */
}

a {
  color: #3612b8;
  text-decoration: none;
}


#nav-bar {
  padding: 20px;
  width: 20%; 
  border: 1px solid black;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  #nav-bar {
    display: flex;
    position: sticky;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    /* padding: 20px; */
    /* margin-left: 20px;
    margin-right: 20px; */
    width: 100%;
    border: 1px solid black; 
  }
}



#main-container{
/* 80% - main, 20 % - navBar */
  padding-top: 20px;
  padding-left: 100px;
  padding-bottom: 100px;
  padding-right: 100px;
  width: 80%;
  border: 1px solid black;
}

@media only screen and (max-width: 600px) {
  #main-container{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 90%;
    margin: auto;
    border: 1px solid rgb(146, 29, 29);
  }
}

#header { 
  padding-bottom: 20px;;
  border: 2px solid rgb(0, 0, 0);
}

.center {
  border: 1px solid black;
  text-align: center;
}

#blog-pic {
  width: 250px;
  height: 120px;
}

#grid-container { 
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  width: 70%;
  margin: auto;
  grid-gap: 20px; 
  border: 1px solid black;
  align-items: center; 
  
}

#grid-item {
  /* display: flex;
        align-items: center;
        justify-content: center; */
  width: 250px;
  border: 1px solid black;
  margin-bottom: 40px;
  
}

#avatar {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}


#certificate {
  width: 600px;
  height: 400px;
}

.logo{
  width: 60px;
  height: 60px;
}


#no-margin{
  margin: 0px;
}

#width-70 {
  width: 70%;
  margin: auto;
  border: 1px solid #ddd;
}

#left-padding {
  padding-left: 20px;
  padding-bottom: 20px;
}

#large {
  font-size: 30px;
}
