#flex {
  display: flex;
  justify-content: center;
}

a {
  color: #3612b8;
  text-decoration: none;
}

#about {
  border: 1px solid black;
  text-align: center;
  display: flex;
  padding: 20px;
}

#nav-bar {
  padding: 20px;
  width: 20%; 
  margin: auto;
  border: 1px solid black;
}

#main-container{
  padding: 20px;
  width: 80%;
  margin: auto;
  border: 1px solid black;
}

#blog-pic {
  width: 100px;
  height: 40px;
}

#grid-container { 
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(470px, 1fr));
}

#grid-item {
  padding: 25px;
  margin: 20px;
  border: 2px solid rgb(230, 229, 229);
  border-radius: 5px;
  box-shadow: 5px 10px #cac9c9;
}

#image {
  width: 40px;
  height: 30px;
}


