h1, p {
  margin: 0px;
}

p {
  text-align: justify;
}

hr { 
  /* in resume container, underlined tech stack */
  width: 100%;
  margin-left: 0;
}

#header > #width-100  {
  width: 100%;
  margin-left: 0;
}

#header > hr {
  width: 80%;
  margin-left: 0;
}

a { 
  color:rgb(92, 160, 224);
}

iframe {
  width: 250px;
}

#width > hr {
  /* devider between projects */
  margin-top: 30px;
  margin-bottom: 30px;
}

#medium {
   font-size: 20px;
 }

.white {
  color: white;
  text-align: center;
}

#flex-resume {
  display: flex;
  padding: 20px;
  text-align: left;
  justify-content: center; 
}


#flex {
  display: flex;
  width: 100%;
  height: 100%; 
  margin: 0px;
}

@media only screen and (max-width: 600px) {
  #flex {
    display: block;
    align-items: center;
  }
}

#flex-tech-stack {
  display: flex;
  justify-content: center;
}

#flex-item {
  padding-right: 25px;
  padding-bottom: 15px;
}

@media only screen and (max-width: 600px) {
  #flex-item {
    padding-right: 15px;
  }
}


#tech-flex-item {
  width: 33%; 
  padding-right: 15px;
  padding-bottom: 30px;
}

#picture-container{
  width: 50%;
}

@media only screen and (max-width: 600px) {
  #picture-container{
    width: 100%;
  }
}

#text-container{
  width: 50%;
  padding-left: 70px;
  padding-right: 0px;
}

  @media only screen and (max-width: 600px) {
    #text-container{
      width: 100%;
      padding-left: 0px;
      padding-right: 0px;
      }
  }

  
#picture {
  width: fill; 
  max-width: 100%;
  height: auto;
  padding: 4px;
  margin: 3px;
  border: 2px solid grey;
  border-radius: 5px;;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
}


#nav-bar {
  /* top, right, bottom, left  */
  padding: 70px 20px 150px 20px; 
  width: 20%; 
  /* height: 100%; */
  min-height: 100%; 
  text-align: center;
  background-color:rgb(71, 67, 67);
  border-right: 4px dotted white; 
}

@media only screen and (max-width: 600px) {
  #nav-bar {
    display: flex;
    position: sticky;
    top: 0;
    padding: 1px 1px 5px 1px;
    align-items: center;
    width: 100%;
    border: none;
  }
}

#main-container{
/* 80% - main, 20 % - navBar */
  padding: 20px 50px 20px 100px;
  width: 80%;
  border-left: 4px dotted black; 
  height: 100%; 
}

#main-container-contact{
    padding: 20px 100px 20px 100px;
    width: 80%;
    border-left: 4px dotted black; 
    min-height: 100%; 
  }

@media only screen and (max-width: 600px) {
  #main-container{
    padding: 20px 0px 30px 0px;
    width: 80%;
    margin: auto;
    border: none;
  }  
}

#header { 
  padding-bottom: 20px;;
}

.center {
  text-align: center;
}

#blog-pic {
  width: 250px;
  height: auto;
}

@media only screen and (max-width: 600px) {
  #blog-pic {
    width: 200px;
    height: auto;
  }
}
#grid-container { 
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  width: 70%;
  margin: auto;
  grid-gap: 20px; 
  align-items: center;  
}

@media only screen and (max-width: 600px) {
  #grid-container { 
    display: block; 
    width: 100%;
    margin: auto;
  }
}

#grid-item {
  width: 250px;
  margin: auto;
  margin-bottom: 40px; 
}

@media only screen and (max-width: 600px) {
  #grid-item {
    width: 200px;
    margin: auto;
    margin-bottom: 40px; 
  }
}


#avatar {
  margin: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
@media only screen and (max-width: 600px) {
  #avatar { 
    width: 60px;
    padding: 3px;
    margin: 10px 20px;
  }
}

#certificate {
  width: 100%;
  height: auto;
}

.logo{
  width: 60px;
  height: 60px;
  border: 2px solid white;
  border-radius: 8px;
  margin: 5px;
}

#no-margin{
  margin: 0px;
}

#width {
  width: 90%;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  #width {
    width: 90%;
  }
}

#width-70 {
  width: 70%;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  #width-70 {
    width: 100%;
    margin: auto;
  }
}

#large {
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
  #large {
    font-size: 15px;
  }
}

#small {
  font-size: 15px;
}

@media only screen and (max-width: 600px) {
  #small {
    font-size: 10px;
  }
}

.dropbtn {
  display: none;
}

.dropdown-content a:hover {
  background-color: rgb(75, 73, 73);
  border: 1px solid white; 
  border-radius: 5px;
  font-size: 23px;
}

.dropdown-content {
  font-size: 20px;
}

.dropdown-content a {
  color:white;
  width: 40%;
  margin: auto;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}


@media only screen and (max-width: 600px) {
.dropbtn {
  display: block;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 65px;
  height: 45px;
  cursor: pointer;
  margin: 10px 20px;

}

.dropdown {
  position: relative;
  display: inline-block;
  background-color:rgb(71, 67, 67); 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:rgb(71, 67, 67);
  min-width: 100px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  z-index: 1;
}

.dropdown-content a {
  width: 80%;
  color:white;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(102, 102, 102);
  font-size: 23px; 
}

.dropdown:hover .dropdown-content {
  display: block; 
}

.dropdown:hover .dropbtn {
  background-color: rgb(71, 67, 67);
}
}